 h1 {
  background-color: aqua;
  color: red;
  text-align: center;
 }

 h2 {
    background-color: blue;
    color: aqua;
    text-align: center;
 }

 h3 {
    background-color: blueviolet;
    color: black;
    text-align: center;
 }