h1 {
    color: blue;
    background-color: aqua;
}

.heading {
    text-align: center;
    color: blue;
    background-color: bisque;
}
.nav {
    background-color: black;
    padding: 15px;
    text-align: center;
}
.nav-tem {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
}